<h2>Please input your first and last name, email, and password. </h2>

<form asp-action="Registration" asp-controller="Home" method="get">

    <p>Firstname</p>
    <input type="text" name="Firstname"/>
    <br/>

     <p>lastname</p>
    <input type="text" name="lastname"/>
    <br/>

    <p>Email (in minutes)</p>
    <input type="text" name="email" />
    <br/>

    <p>Password</p>
    <input type="number" name="Password" />
    <br/>

    <input type="submit"/>
</form>